# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. Julia
5. JavaScript
6. PHP
7. Ruby
8. Visual Basic
9. C++
10. Scala

Some of the commonly used Libraries used by Data Scientists include:
1. Panda ( Data structures and tools)
2. NumPy (Arrays and matrices)
3. Matlotlib (plits and graphs most popular)
4. Seaborn (plots : heat maps, time seriers, violin plots)
5. Scikit-learn (machine learning)
7. Keras (deep learning machine)
8. TensorFlow(deep learning : Production and deployment)
9. PyTorch(Deep learning: regression, classification)
10. Apache Spark (cluster - computing framework)

|Data Science Tools|
|------------------|
|IBM Watson Studio|
|Jupyter|
|R Studio|
|Spyder|

### Below are a few examples of evaluating aritmetic expressions in Python

In [19]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

* List popular languages for Data Science
* Popular Development tools for Data Science
* List of some popular library used for Data Science
* Using markdown and code cells in Jupyter
* Using aritmetic expression in Jupyter notebook

## Author
Ryazania Utami